.MainPage{
	padding-top:60px;
}


.mainPageCloseBtnCntr{
	display: inline-block;
	margin-right:20px;
	float: right;
}




@media only screen and (max-width: 800px) {
	.mainPageCloseBtnCntr {
		display: inline-block;
		width: 90%;
		float: none;
	}
}