.CompPostDepth{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px; 
	padding-inline-start:0px;
	display: inline-block;
	float: left;
	height: 100%;
}

.CompPostDepth li{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px; 
	padding-inline-start:0px;
	float: left;
	font-size: 16px;
	color:grey;
	height: 100%;
}

.compPostDepthStep{
	width:20px;
	height: 10px;
	background-color: black;
}

.postWidgetCountContainer_line{
	margin-left: 5px;
	background-color: darkgrey;
	width: 5px;
	height: 100%;
}