.NavBar{
	display: block;
	width: 100%;
	position: fixed;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 15px
}

.NavBar ol{
	display: inline-block;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: darkslategray;
	padding: 10px 10px 10px 10px
}

.NavBar ol li{
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	user-select:none;
}

.navBarMenu{
	display: inline-block;
	font-size: 15px;
	color:white;
}

.navBarMenu :hover{
	display: inline-block;
	font-size: 15px;
	color:orange;
	/*background-color: black;*/
}
