.PostWidget{
	display: inline-block;
	float: left;
	margin: 0px 0px 0px 0px;
	width: 100%;
	background-color:lightgrey;
}

.postWidgetVoteContainer{
	display: inline-block;
	float: left;
	height: 100%;
	/*background-color: wheat;*/
}

.postWidgetCountContainer{
	display: inline-block;
	float: left;
}




.postWidgetInfoContainer{
	display: flex;
	height: 100%;
	background-color: floralwhite;
	overflow:hidden;
	min-height:100px;
}

.postWidgetInfoContainer *{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.postWidgetInfoContainer ol{
	list-style: none;
	width: 100%;
}

.postWidgetInfoContainer ol li{
	text-align: left;
}


.postWidgetInfoGroupContainer{
	line-height: none;
	display: inline-block;
}

.postWidgetInfoGroupContainer li{
	display: inline-block;
	margin-left: 5px;
}






.postWidgetInfoGroupTitle{
	color: #333333;
	font-size:16px;
}

.postWidgetInfoGroupUser{
	color: #999999;
	font-size:12px;
}

.postWidgetInfoGroupPostTime{
	color: #999999;
	font-size:12px;
}


.postWidgetTitle{
	color: #000000;
	font-size:25px;	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0px 10px 5px 5px;
	user-select: none;
}

.postWidgetContent{
	color: #000000;
	font-size:15px;	
	overflow: hidden;
	text-overflow: ellipsis;
	height: 100%;
	padding: 0px 20px 5px 5px;
	user-select: none;
}